In [1]:
#python data types

x=1
y=5.7
z=1.9j

print(type(z))

<class 'complex'>

In [2]:
y=9.7

print(int(y)) # casting

9

In [4]:
import random

print(random.randrange(1,10))

1

In [13]:
#Automorphic Number

x=input("Enter the number:")
y=int(x) **2
last_part=str(y)[-len(x):]
if last_part==x:
    print('Automorphic Number: Yes')
else:
    print('Automorphic Number: No')

Enter the number: 34

Automorphic Number: No

In [14]:
#Boolean 

#When you run a condition in an if statment, python return true/False

a=4
b=6

if b>a:
   print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [15]:
#bool() function allows you to evaluate any value
print(bool("Hello"))
print(bool(15))
print(bool(['manago','apple','orange']))
print(bool(''))   
print(bool())   
print(bool([]))   

def myFunction():
    return True

print(myFunction())

True
True
True
False
False
False
True

In [16]:
#Lists: ordered, changeable and allow duplicates

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [17]:
my_list=["apple", "banana", "cherry"]
print(len(my_list))

3

In [18]:
thislist=list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [19]:
#problems

numbers = [10, 20, 30, 40, 50] #print all the numbers

for i in numbers:
    print(i)

10
20
30
40
50

In [20]:
numbers = [1, 2, 3, 4, 5] #write a function to add all the numbers

def sumallnumbers(num):
    z=0
    for i in numbers:
        z=z+i
    return z  # Return the total sum

print(sumallnumbers(numbers))

15

In [21]:
numbers = [5, 10, 2, 8, 3] #find the largest number in the list

def largest_number(num):
    largest=numbers[0]
    for i in numbers:
            if i>largest:
                largest=i
    return largest

print(largest_number(numbers))

10

In [22]:
#tuple: Ordered, Not Changeable, allows duplicate & Indexed

thistuple=('Soumya', 'Athul','Roshni','Achan','Rithin')
print(thistuple)

('Soumya', 'Athul', 'Roshni', 'Achan', 'Rithin')

In [23]:
#tuple with 1 item, add a comman after the item, else it doesnt recognize as a tuple

singletuple=('apple',)
print(type(singletuple))
singletuple1=('apple')
print(type(singletuple1))

<class 'tuple'>
<class 'str'>

In [24]:
# can contain different data types

tuple2=('Soumya',27,'SRH hochschule Berlin',0.8)
print(type(tuple2))

<class 'tuple'>

In [25]:
#or you can use tuple constructor

tuple4=tuple(('Soumya',27,'SRH hochschule Berlin',0.8))
print(tuple4)

('Soumya', 27, 'SRH hochschule Berlin', 0.8)

In [26]:
#Access List Items

list1=['apple','mango','banana']

if 'apple' in list1:
       print('yes there is apple in the list')

yes there is apple in the list

In [27]:
#Change item value
list2=['Soumya',27,'SRH hochschule Berlin',0.8]
list2[2]='SDMCET'
print(list2)

#Change range of values
team1=['Sebastian','Soumya','Gibran','Neelu']
print(team1)
team1[1:]=['Gibran','Neelu','Simon']
print(team1)

#use insert method()
team1.insert(3,'Sofi')
print(team1)

['Soumya', 27, 'SDMCET', 0.8]
['Sebastian', 'Soumya', 'Gibran', 'Neelu']
['Sebastian', 'Gibran', 'Neelu', 'Simon']
['Sebastian', 'Gibran', 'Neelu', 'Sofi', 'Simon']

In [28]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1]) # replaces the value

banana

In [29]:
#use append()
thislist1=['apple', 'banana', 'cherry']
thislist.append('mango')
print(thislist)

#Insert

thislist.insert(-1,'strawberry')
print(thislist)

#extend list
thislist2=['guava', 'chickoo', 'tender coconut']

thislist1.extend(thislist2)
print(thislist1)

['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'strawberry', 'mango']
['apple', 'banana', 'cherry', 'guava', 'chickoo', 'tender coconut']

In [36]:
#sortlist

thislist1.sort(reverse=True)
print(thislist1)

thislist1.reverse()
print(thislist1)

['tender coconut', 'guava', 'chickoo', 'cherry', 'banana', 'apple']
['apple', 'banana', 'cherry', 'chickoo', 'guava', 'tender coconut']

In [39]:
#copy the data

thislist = ["apple", "banana", "cherry"]
mylist=thislist.copy()
print(mylist)

mylist2=thislist[0:1]
print(mylist2)

['apple', 'banana', 'cherry']
['apple']

In [40]:
#join lists=Append(), extend(), or use + operator

print(thislist+thislist2)

['apple', 'banana', 'cherry', 'guava', 'chickoo', 'tender coconut']

In [6]:
#Tuples

t1=("apple", "banana", "cherry")

t2=("orange",)
t1+=t2 #add tuple to a tuple

print(t1)

('apple', 'banana', 'cherry', 'orange')

In [7]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [11]:
fruits = ("apple", "banana", "cherry") 

for i in fruits: #loop through the tuple
    print(i)


for i in range(len(fruits)): #loop through the index
    print(i)

apple
banana
cherry
apple
banana
cherry

In [15]:
t1=("orange","mango")
t2=("banana",)

t3=t1+t2
print(t3)
t4=t1*4
print(t4)

('orange', 'mango', 'banana')
('orange', 'mango', 'orange', 'mango', 'orange', 'mango', 'orange', 'mango')

In [17]:
t4.count('orange')

4

In [18]:
t4.index("orange")

0

In [3]:
#Dictionaries

thisdict={ "brand":"Ford",
          "model": "Mustang",
          "year": "1998",
         "colors": ['red','yellow','classic black']}

print(thisdict['brand'])

Ford

In [13]:
print(thisdict.keys())

print(thisdict.values())

x=thisdict.items() #items() method will return eaach item in a dictionary, as tuples in a list
print(x)

if "year" in thisdict:
    print("yes")


#change the items

thisdict["year"]=2020
print(thisdict)

thisdict.update({"year":"1998"})
print("updated", thisdict)

dict_keys(['brand', 'model', 'year', 'colors'])
dict_values(['Ford', 'Mustang', '1998', ['red', 'yellow', 'classic black']])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', '1998'), ('colors', ['red', 'yellow', 'classic black'])])
yes
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'colors': ['red', 'yellow', 'classic black']}
updated {'brand': 'Ford', 'model': 'Mustang', 'year': '1998', 'colors': ['red', 'yellow', 'classic black']}

In [21]:
thisdict.pop('year') #pops the key-value pair
print(thisdict)

{}

In [22]:
thisdict.clear() #empties the dictionary
print(thisdict)

{}

In [27]:
thisdict={ "brand":"Ford",
          "model": "Mustang",
          "year": "1998",
         "colors": ['red','yellow','classic black']}

for x in thisdict.values(): #prints the values
    print(x)

for x in thisdict: #prints the keys
    print(x)

for x, y in thisdict.items(): #print key and values
    print(x,y)

Ford
Mustang
1998
['red', 'yellow', 'classic black']
brand
model
year
colors
brand Ford
model Mustang
year 1998
colors ['red', 'yellow', 'classic black']

In [31]:
#copy dictionaries

mydict=thisdict.copy()
print(mydict)


newdict=dict(thisdict)
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1998', 'colors': ['red', 'yellow', 'classic black']}
{'brand': 'Ford', 'model': 'Mustang', 'year': '1998', 'colors': ['red', 'yellow', 'classic black']}