In [1]:
#python data types

x=1
y=5.7
z=1.9j

print(type(z))

<class 'complex'>

In [2]:
y=9.7

print(int(y)) # casting

9

In [4]:
import random

print(random.randrange(1,10))

1

In [5]:
#Automorphic Number

x=input("Enter the number:")
y=int(x) **2
last_part=str(y)[-len(x):]
if last_part==x:
    print('Automorphic Number: Yes')
else:
    print('Automorphic Number: No')

Enter the number: 45

Automorphic Number: No

In [7]:
#Boolean 

#When you run a condition in an if statment, python return true/False

a=4
b=6

if b>a:
   print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [16]:
#bool() function allows you to evaluate any value
print(bool("Hello"))
print(bool(15))
print(bool(['manago','apple','orange']))
print(bool(''))   
print(bool())   
print(bool([]))   

def myFunction():
    return True

print(myFunction())

True
True
True
False
False
False
True

In [18]:
#Lists: ordered, changeable and allow duplicates

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [20]:
my_list=["apple", "banana", "cherry"]
print(len(my_list))

3

In [23]:
thislist=list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [1]:
#problems

numbers = [10, 20, 30, 40, 50] #print all the numbers

for i in numbers:
    print(i)

10
20
30
40
50

In [12]:
numbers = [1, 2, 3, 4, 5] #write a function to add all the numbers

def sumallnumbers(num):
    z=0
    for i in numbers:
        z=z+i
    return z  # Return the total sum

print(sumallnumbers(numbers))

15

In [8]:
numbers = [5, 10, 2, 8, 3] #find the largest number in the list

def largest_number(num):
    largest=numbers[0]
    for i in numbers:
            if i>largest:
                largest=i
    return largest

print(largest_number(numbers))

10

In [1]:
#tuple: Ordered, Not Changeable, allows duplicate & Indexed

thistuple=('Soumya', 'Athul','Roshni','Achan','Rithin')
print(thistuple)

('Soumya', 'Athul', 'Roshni', 'Achan', 'Rithin')

In [4]:
#tuple with 1 item, add a comman after the item, else it doesnt recognize as a tuple

singletuple=('apple',)
print(type(singletuple))
singletuple1=('apple')
print(type(singletuple1))

<class 'tuple'>
<class 'str'>

In [6]:
# can contain different data types

tuple2=('Soumya',27,'SRH hochschule Berlin',0.8)
print(type(tuple2))

<class 'tuple'>

In [7]:
#or you can use tuple constructor

tuple4=tuple(('Soumya',27,'SRH hochschule Berlin',0.8))
print(tuple4)

('Soumya', 27, 'SRH hochschule Berlin', 0.8)

In [12]:
#Access List Items

list1=['apple','mango','banana']

if 'apple' in list1:
       print('yes there is apple in the list')

yes there is apple in the list

In [20]:
#Change item value
list2=['Soumya',27,'SRH hochschule Berlin',0.8]
list2[2]='SDMCET'
print(list2)

#Change range of values
team1=['Sebastian','Soumya','Gibran','Neelu']
print(team1)
team1[1:]=['Gibran','Neelu','Simon']
print(team1)

#use insert method()
team1.insert(3,'Sofi')
print(team1)

['Soumya', 27, 'SDMCET', 0.8]
['Sebastian', 'Soumya', 'Gibran', 'Neelu']
['Sebastian', 'Gibran', 'Neelu', 'Simon']
['Sebastian', 'Gibran', 'Neelu', 'Sofi', 'Simon']

In [24]:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1]) # replaces the value

banana

In [28]:
#use append()
thislist1=['apple', 'banana', 'cherry']
thislist.append('mango')
print(thislist)

#Insert

thislist.insert(-1,'strawberry')
print(thislist)

#extend list
thislist2=['guava', 'chickoo', 'tender coconut']

thislist1.extend(thislist2)
print(thislist1)

['apple', 'banana', 'cherry', 'strawberry', 'mango', 'mango']
['apple', 'banana', 'cherry', 'strawberry', 'mango', 'strawberry', 'mango']
['apple', 'banana', 'cherry', 'guava', 'chickoo', 'tender coconut']